langchain
langchain-community
langchain_huggingface
python-dotenv
langchain_groq
pandas
faiss-cpu
pypdf
unstructured
python-multipart
fastapi
pydantic
uvicorn[standard]
sentence-transformers
jinja2
pytest