langchain
langchain-community
langchain_huggingface
python-dotenv
langchain_groq
pandas
faiss-cpu
pypdf
unstructured
python-multipart
fastapi
pydantic
uvicorn[standard]
unstructured[pdf]

unstructured
unstructured-inference
opencv-python-headless  # Needed for unstructured PDF parsing

sentence-transformers
jinja2
pytest